//Typograph
$font-family-1: 'Montserrat', sans-serif;

//Colors
$green: #4CB8B3;
$green-2: #44A5A1;
$pink: #F53756;
$yellow: #FEF46D;
$purple: #752F97;
$black: #000;
$white: #FFF;
$gray: #E1E1E1;

//Screen Width Sizes
$phone: 480px;
$tablet: 768px;
$laptop: 1200px;
$large: 1200px;